<suite name="iOS Appium test">
    <test name="recipe test">
        <classes>
            <class name="Script.LandTest"/>
            <class name="Script.AddRecipeTest"/>
            <class name="Script.DeleteRecipeTest"/>
        </classes>
    </test>

    <test name="Conversions">
    <classes>
        <class name="Script.UnitConversionTest"/>
    </classes>
    </test>
</suite>